<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jdbc 
        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.blog.LHT.dao.impl"></context:component-scan>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
			 		<property name="jdbcUrl" value="jdbc:mysql://localhost:3307/blog?autoReconnect=true" />
			 		<property name="user" value="root" />
			 		<property name="password" value="0123" />
	</bean>
        
        <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        		<property name="dataSource" ref="dataSource" />
        		<property name="configLocations" value="classpath:hibernate.cfg.xml" />
        </bean>
        
        <bean id="baseDaoImpl" class="com.blog.LHT.dao.impl.BaseDaoImpl">
        	<property name="sessionFactory" ref="sessionFactory"></property>
        </bean>
        
        <bean id="solrBaseDaoImpl" class="com.blog.LHT.dao.impl.SolrBaseDaoImpl">
        	<property name="solrServer" ref="httpSolrServer"></property>
        </bean>
        
        <bean id="httpSolrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
        	<constructor-arg index="0" value="http://www.shutup.club/solr"></constructor-arg>
        </bean>
        
  </beans>